openapi: 3.0.3
info:
  title: 365-Amazcart
  description: ''
  version: 1.0.0
servers:
  -
    url: 'https://spn21.spondan.com/amazcart'
paths:
  /api/appearance/sliders:
    get:
      summary: 'Slider List'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n \"data\": [\n      {\n          \"id\": 1,\n          \"name\": \"KTM RC 390\",\n          \"url\": null,\n          \"data_type\": \"product\",\n          \"data_id\": 1,\n          \"slider_image\": \"uploads/images/14-06-2021/60c6da6f7adde.png\",\n          \"status\": 1,\n          \"is_newtab\": 1,\n          \"position\": 598776,\n          \"created_at\": \"2021-06-14T04:26:23.000000Z\",\n          \"updated_at\": \"2021-06-14T04:26:23.000000Z\",\n          \"product\": {\n              \"id\": 1,\n              \"user_id\": 4,\n              \"product_id\": 2,\n              \"tax\": 15,\n              \"tax_type\": \"0\",\n              \"discount\": 50,\n              \"discount_type\": \"1\",\n              \"discount_start_date\": \"06/01/2021\",\n              \"discount_end_date\": \"07/31/2021\",\n              \"product_name\": \"KTM RC 390\",\n              \"slug\": \"ktm-rc-390-4\",\n              \"thum_img\": null,\n              \"status\": 1,\n              \"stock_manage\": 0,\n              \"is_approved\": 0,\n              \"min_sell_price\": 6500,\n              \"max_sell_price\": 6500,\n              \"total_sale\": 0,\n              \"avg_rating\": 0,\n              \"recent_view\": \"2021-06-14 10:26:55\",\n              \"created_at\": \"2021-06-03T05:57:34.000000Z\",\n              \"updated_at\": \"2021-06-14T04:26:55.000000Z\",\n              \"variantDetails\": [],\n              \"MaxSellingPrice\": 6500,\n              \"hasDeal\": 0,\n              \"rating\": 0,\n              \"skus\": [\n                  {\n                      \"id\": 1,\n                      \"user_id\": 4,\n                      \"product_id\": 1,\n                      \"product_sku_id\": \"2\",\n                      \"product_stock\": 0,\n                      \"purchase_price\": 0,\n                      \"selling_price\": 6500,\n                      \"status\": 1,\n                      \"created_at\": \"2021-06-03T05:57:34.000000Z\",\n                      \"updated_at\": \"2021-06-03T05:57:34.000000Z\",\n                      \"product_variations\": []\n                  }\n              ],\n              \"reviews\": []\n          },\n          \"category\": {\n              \"id\": 1,\n              \"name\": \"Electronics\",\n              \"slug\": \"electronics\",\n              \"parent_id\": 0,\n              \"depth_level\": 1,\n              \"icon\": null,\n              \"searchable\": 1,\n              \"status\": 1,\n              \"total_sale\": 35,\n              \"avg_rating\": 0.15,\n              \"commission_rate\": 10,\n              \"created_at\": \"2021-05-31T07:27:03.000000Z\",\n              \"updated_at\": \"2021-06-13T11:19:09.000000Z\",\n              \"AllProducts\": {\n                  product info ...\n              },\n          \"brand\": {\n              \"id\": 1,\n              \"name\": \"Samsung\",\n              \"logo\": \"uploads/images/31-05-2021/60b4902a55d8d.jpeg\",\n              \"description\": null,\n              \"link\": null,\n              \"status\": 1,\n              \"featured\": 1,\n              \"meta_title\": null,\n              \"meta_description\": null,\n              \"sort_id\": 3,\n              \"total_sale\": 0,\n              \"avg_rating\": 0,\n              \"slug\": \"samsung\",\n              \"created_by\": null,\n              \"updated_by\": 1,\n              \"created_at\": \"2021-05-31T07:28:42.000000Z\",\n              \"updated_at\": \"2021-06-08T10:55:28.000000Z\",\n              \"AllProducts\": {\n                  product info ...\n              },\n          \"tag\": {\n              \"id\": 1,\n              \"product_id\": 1,\n              \"tag\": \"apple\",\n              \"created_at\": \"2021-06-01T12:31:38.000000Z\",\n              \"updated_at\": \"2021-06-01T12:31:38.000000Z\"\n          }\n      }\n  ]\n}"
      tags:
        - Appearance
      security: []
  '/api/appearance/sliders/{id}':
    get:
      summary: 'Single slider'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 9
                    name: 'test from tag'
                    url: null
                    data_type: tag
                    data_id: 4
                    slider_image: uploads/images/13-06-2021/60c5d7217b91e.png
                    status: 1
                    is_newtab: 1
                    position: 598776
                    created_at: '2021-06-13T10:00:01.000000Z'
                    updated_at: '2021-06-13T10:00:01.000000Z'
                    product: {  }
                    category: {  }
                    brand: null
                    tag:
                      id: 4
                      product_id: 3
                      tag: ktm
                      created_at: '2021-05-29T07:13:28.000000Z'
                      updated_at: '2021-05-29T07:13:28.000000Z'
                properties:
                  data:
                    type: object
                    example:
                      id: 9
                      name: 'test from tag'
                      url: null
                      data_type: tag
                      data_id: 4
                      slider_image: uploads/images/13-06-2021/60c5d7217b91e.png
                      status: 1
                      is_newtab: 1
                      position: 598776
                      created_at: '2021-06-13T10:00:01.000000Z'
                      updated_at: '2021-06-13T10:00:01.000000Z'
                      product: {  }
                      category: {  }
                      brand: null
                      tag:
                        id: 4
                        product_id: 3
                        tag: ktm
                        created_at: '2021-05-29T07:13:28.000000Z'
                        updated_at: '2021-05-29T07:13:28.000000Z'
      tags:
        - Appearance
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'id of slider'
        example: 16
        required: true
        schema:
          type: integer
  /api/product/brand:
    get:
      summary: 'Brand List'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": [\n          {\n              \"id\": 2,\n              \"name\": \"KTM\",\n              \"logo\": \"uploads/images/29-05-2021/60b1e7e14caf0.png\",\n              \"description\": null,\n              \"link\": null,\n              \"status\": 1,\n              \"featured\": 1,\n              \"meta_title\": null,\n              \"meta_description\": null,\n              \"sort_id\": null,\n              \"total_sale\": 1,\n              \"avg_rating\": 0,\n              \"slug\": \"ktm\",\n              \"created_by\": null,\n              \"updated_by\": 5,\n              \"created_at\": \"2021-05-29T07:06:09.000000Z\",\n              \"updated_at\": \"2021-05-29T12:11:27.000000Z\",\n              \"AllProducts\": {\n                  \"current_page\": 1,\n                  \"data\": [\n                      product list ....\n                  ],\n                  \"first_page_url\": \"http://ecommerce.test/api/product/brand?page=1\",\n                  \"from\": 1,\n                  \"last_page\": 1,\n                  \"last_page_url\": \"http://ecommerce.test/api/product/brand?page=1\",\n                  \"links\": [\n                      {\n                          \"url\": null,\n                          \"label\": \"&laquo; Previous\",\n                          \"active\": false\n                      },\n                      {\n                          \"url\": \"http://ecommerce.test/api/product/brand?page=1\",\n                          \"label\": \"1\",\n                          \"active\": true\n                      },\n                      {\n                          \"url\": null,\n                          \"label\": \"Next &raquo;\",\n                          \"active\": false\n                      }\n                  ],\n                  \"next_page_url\": null,\n                  \"path\": \"http://ecommerce.test/api/product/brand\",\n                  \"per_page\": 10,\n                  \"prev_page_url\": null,\n                  \"to\": 1,\n                  \"total\": 1\n              }\n          }\n      ]\n}"
      tags:
        - Brands
      security: []
  '/api/product/brand/{id}':
    get:
      summary: 'Single Brand'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": {\n          \"id\": 2,\n          \"name\": \"KTM\",\n          \"logo\": \"uploads/images/29-05-2021/60b1e7e14caf0.png\",\n          \"description\": null,\n          \"link\": null,\n          \"status\": 1,\n          \"featured\": 1,\n          \"meta_title\": null,\n          \"meta_description\": null,\n          \"sort_id\": null,\n          \"total_sale\": 1,\n          \"avg_rating\": 0,\n          \"slug\": \"ktm\",\n          \"created_by\": null,\n          \"updated_by\": 5,\n          \"created_at\": \"2021-05-29T07:06:09.000000Z\",\n          \"updated_at\": \"2021-05-29T12:11:27.000000Z\",\n          \"AllProducts\": {\n              \"current_page\": 1,\n              \"data\": [\n                  product list ....\n              ],\n              \"first_page_url\": \"http://ecommerce.test/api/product/brand/2?page=1\",\n              \"from\": 1,\n              \"last_page\": 1,\n              \"last_page_url\": \"http://ecommerce.test/api/product/brand/2?page=1\",\n              \"links\": [\n                  {\n                      \"url\": null,\n                      \"label\": \"&laquo; Previous\",\n                      \"active\": false\n                  },\n                  {\n                      \"url\": \"http://ecommerce.test/api/product/brand/2?page=1\",\n                      \"label\": \"1\",\n                      \"active\": true\n                  },\n                  {\n                      \"url\": null,\n                      \"label\": \"Next &raquo;\",\n                      \"active\": false\n                  }\n              ],\n              \"next_page_url\": null,\n              \"path\": \"http://ecommerce.test/api/product/brand/2\",\n              \"per_page\": 10,\n              \"prev_page_url\": null,\n              \"to\": 1,\n              \"total\": 1\n          }\n      }\n  }\n}"
      tags:
        - Brands
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'brand id'
        example: 6
        required: true
        schema:
          type: integer
  /api/cart:
    get:
      summary: 'Cart List'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"carts\": {\n          \"4\": [\n              {\n                  \"id\": 1,\n                  \"user_id\": 5,\n                  \"seller_id\": 4,\n                  \"product_type\": \"product\",\n                  \"product_id\": 7,\n                  \"qty\": 1,\n                  \"price\": 6550,\n                  \"total_price\": 6550,\n                  \"sku\": null,\n                  \"is_select\": 0,\n                  \"shipping_method_id\": 2,\n                  \"created_at\": \"2021-06-10T12:29:09.000000Z\",\n                  \"updated_at\": \"2021-06-10T12:29:09.000000Z\",\n                  \"product\": {\n\n                  },\n                  \"shipping_method\": {\n                      \"id\": 1,\n                      \"method_name\": \"Email Delivery (within 24 Hours)\",\n                      \"logo\": null,\n                      \"phone\": null,\n                      \"shipment_time\": \"12-24 hrs\",\n                      \"cost\": 0,\n                      \"is_active\": 1,\n                      \"created_at\": null,\n                      \"updated_at\": null\n                  },\n                  \"seller\": {\n                      seller info\n\n                  },\n                  \"customer\": {\n                  customer info...\n                  },\n                  \"gift_card\": {\n                      giftcard info....\n                  },\n                  \"product\": {\n                      product info...\n                  }\n              }\n          ]\n      },\n     \"shipping_charge\" : \"90\"\n     ,\n      \"message\": \"success\"\n}"
      tags:
        - Cart
      security: []
    post:
      summary: 'Add to cart'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        201:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     'message' : 'product added succcessfully'\n}"
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                product_id:
                  type: number
                  description: 'product sku id'
                  example: 10161572.07767
                qty:
                  type: number
                  description: 'product quantity'
                  example: 18303168.38
                price:
                  type: number
                  description: 'product price'
                  example: 3855.8838637
                seller_id:
                  type: number
                  description: 'seller id'
                  example: 405.0
                shipping_method_id:
                  type: number
                  description: 'shipping method id'
                  example: 65546522.189851
                product_type:
                  type: string
                  description: 'product or giftcard'
                  example: est
              required:
                - product_id
                - qty
                - price
                - seller_id
                - shipping_method_id
                - product_type
      security: []
  /api/cart/remove:
    post:
      summary: 'Remove From Cart'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        203:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     'message' : 'removed successfully'\n}"
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: 'item id'
                  example: 272021038.1131
              required:
                - id
      security: []
  /api/cart/update-qty:
    post:
      summary: 'Quantity update'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        202:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     'message' : 'qty updated successfully'\n}"
      tags:
        - Cart
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: 'item id'
                  example: 682804.0537336
                qty:
                  type: number
                  description: 'item quantity'
                  example: 83338.0
              required:
                - id
                - qty
      security: []
  /api/product/category:
    get:
      summary: 'Category List'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": [\n          {\n              \"id\": 6,\n              \"name\": \"Mobile\",\n              \"slug\": \"mobile\",\n              \"parent_id\": 3,\n              \"depth_level\": 2,\n              \"icon\": \"fas fa-mobile-alt\",\n              \"searchable\": 1,\n              \"status\": 1,\n              \"total_sale\": 3,\n              \"avg_rating\": 0,\n              \"commission_rate\": 0,\n              \"created_at\": \"2021-05-29T07:27:11.000000Z\",\n              \"updated_at\": \"2021-06-07T13:18:43.000000Z\",\n              \"AllProducts\": {\n                  \"current_page\": 1,\n                  \"data\": [\n                      product list ...\n                  ],\n                  \"first_page_url\": \"http://ecommerce.test/api/product/category?page=1\",\n                  \"from\": 1,\n                  \"last_page\": 1,\n                  \"last_page_url\": \"http://ecommerce.test/api/product/category?page=1\",\n                  \"links\": [\n                      {\n                          \"url\": null,\n                          \"label\": \"&laquo; Previous\",\n                          \"active\": false\n                      },\n                      {\n                          \"url\": \"http://ecommerce.test/api/product/category?page=1\",\n                          \"label\": \"1\",\n                          \"active\": true\n                      },\n                      {\n                          \"url\": null,\n                          \"label\": \"Next &raquo;\",\n                          \"active\": false\n                      }\n                  ],\n                  \"next_page_url\": null,\n                  \"path\": \"http://ecommerce.test/api/product/category\",\n                  \"per_page\": 10,\n                  \"prev_page_url\": null,\n                  \"to\": 1,\n                  \"total\": 1\n              },\n              \"category_image\": {\n                  \"category_id\": 6\n              },\n              \"parent_category\": {\n                  parent category ....\n              },\n              \"sub_categories\": [\n                  sub category list ...\n              ]\n          }\n      ]\n}"
      tags:
        - Categories
      security: []
  '/api/product/category/{id}':
    get:
      summary: 'Single Category'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"data\": {\n           \"id\": 6,\n           \"name\": \"Mobile\",\n           \"slug\": \"mobile\",\n           \"parent_id\": 3,\n           \"depth_level\": 2,\n           \"icon\": \"fas fa-mobile-alt\",\n           \"searchable\": 1,\n           \"status\": 1,\n           \"total_sale\": 3,\n           \"avg_rating\": 0,\n           \"commission_rate\": 0,\n           \"created_at\": \"2021-05-29T07:27:11.000000Z\",\n           \"updated_at\": \"2021-06-07T13:18:43.000000Z\",\n           \"AllProducts\": {\n               \"current_page\": 1,\n               \"data\": [\n                   product lists\n               ],\n               \"first_page_url\": \"http://ecommerce.test/api/product/category/6?page=1\",\n               \"from\": 1,\n               \"last_page\": 1,\n               \"last_page_url\": \"http://ecommerce.test/api/product/category/6?page=1\",\n               \"links\": [\n                   {\n                       \"url\": null,\n                       \"label\": \"&laquo; Previous\",\n                       \"active\": false\n                   },\n                   {\n                       \"url\": \"http://ecommerce.test/api/product/category/6?page=1\",\n                       \"label\": \"1\",\n                       \"active\": true\n                   },\n                   {\n                       \"url\": null,\n                       \"label\": \"Next &raquo;\",\n                       \"active\": false\n                   }\n               ],\n               \"next_page_url\": null,\n               \"path\": \"http://ecommerce.test/api/product/category/6\",\n               \"per_page\": 10,\n               \"prev_page_url\": null,\n               \"to\": 1,\n               \"total\": 1\n           },\n           \"category_image\": {\n               \"category_id\": 6\n           },\n           \"parent_category\": {\n               parent category ..\n           },\n           \"sub_categories\": [\n               sub categories ...\n           ]\n       }\n      ,\n      \"attributes\": [\n      {\n          \"id\": 2,\n          \"name\": \"Storage\",\n          \"display_type\": null,\n          \"description\": null,\n          \"status\": 1,\n          \"created_by\": null,\n          \"updated_by\": null,\n          \"created_at\": \"2021-07-01T10:05:16.000000Z\",\n          \"updated_at\": \"2021-07-01T10:05:16.000000Z\",\n         \"values\": [\n          singl\n         ]\n      }\n  ],\n  \"color\": {\n      \"id\": 1,\n      \"name\": \"Color\",\n      \"display_type\": \"radio_button\",\n      \"description\": \"null\",\n      \"status\": 1,\n      \"created_by\": null,\n      \"updated_by\": null,\n      \"created_at\": \"2018-11-04T20:12:26.000000Z\",\n      \"updated_at\": \"2018-11-04T20:12:26.000000Z\",\n      \"values\": [\n          {\n              \"id\": 1,\n              \"value\": \"black\",\n              \"attribute_id\": 1,\n              \"created_at\": \"2021-07-01T09:51:50.000000Z\",\n              \"updated_at\": \"2021-07-01T09:51:50.000000Z\"\n          },\n\n      ]\n  },\n  \"brands\": [\n      {\n          \"id\": 1,\n          \"name\": \"Xiaomi\",\n          \"logo\": \"uploads/images/01-07-2021/60dd926b30fde.png\",\n          \"description\": null,\n          \"link\": null,\n          \"status\": 1,\n          \"featured\": 1,\n          \"meta_title\": null,\n          \"meta_description\": null,\n          \"sort_id\": null,\n          \"total_sale\": 0,\n          \"avg_rating\": 0,\n          \"slug\": \"xiaomi\",\n          \"created_by\": null,\n          \"updated_by\": null,\n          \"created_at\": \"2021-07-01T10:01:15.000000Z\",\n          \"updated_at\": \"2021-07-01T10:01:15.000000Z\",\n      }\n  ],\n  \"lowest_price\": 190,\n  \"height_price\": 22\n}"
      tags:
        - Categories
      security: []
    parameters:
      -
        in: path
        name: id
        description: 'category id'
        example: 8
        required: true
        schema:
          type: integer
  /api/product/category/filter/top:
    get:
      summary: 'Top Categories'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"data\": [\n          {\n              \"id\": 6,\n              \"name\": \"Mobile\",\n              \"slug\": \"mobile\",\n              \"parent_id\": 3,\n              \"depth_level\": 2,\n              \"icon\": \"fas fa-mobile-alt\",\n              \"searchable\": 1,\n              \"status\": 1,\n              \"total_sale\": 3,\n              \"avg_rating\": 0,\n              \"commission_rate\": 0,\n              \"created_at\": \"2021-05-29T07:27:11.000000Z\",\n              \"updated_at\": \"2021-06-07T13:18:43.000000Z\",\n              \"AllProducts\": {\n                  \"current_page\": 1,\n                  \"data\": [\n                      product list\n                  ],\n                  \"first_page_url\": \"http://ecommerce.test/api/product/category/filter/top?page=1\",\n                  \"from\": 1,\n                  \"last_page\": 1,\n                  \"last_page_url\": \"http://ecommerce.test/api/product/category/filter/top?page=1\",\n                  \"links\": [\n                      {\n                          \"url\": null,\n                          \"label\": \"&laquo; Previous\",\n                          \"active\": false\n                      },\n                      {\n                          \"url\": \"http://ecommerce.test/api/product/category/filter/top?page=1\",\n                          \"label\": \"1\",\n                          \"active\": true\n                      },\n                      {\n                          \"url\": null,\n                          \"label\": \"Next &raquo;\",\n                          \"active\": false\n                      }\n                  ],\n                  \"next_page_url\": null,\n                  \"path\": \"http://ecommerce.test/api/product/category/filter/top\",\n                  \"per_page\": 10,\n                  \"prev_page_url\": null,\n                  \"to\": 1,\n                  \"total\": 1\n              },\n              \"category_image\": {\n                  \"category_id\": 6\n              },\n              \"parent_category\": {\n                  parent category ...\n              },\n              \"sub_categories\": [\n                  subcategories ...\n              ]\n          }\n      ]\n}"
      tags:
        - Categories
      security: []
  /api/checkout:
    get:
      summary: 'Checkout product list'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n\"items\": {\n      \"4\": {\n          \"2\": [\n              {\n                  \"id\": 1,\n                  \"user_id\": 5,\n                  \"seller_id\": 4,\n                  \"product_type\": \"product\",\n                  \"product_id\": 7,\n                  \"qty\": 1,\n                  \"price\": 6550,\n                  \"total_price\": 6550,\n                  \"sku\": null,\n                  \"is_select\": 1,\n                  \"shipping_method_id\": 2,\n                  \"created_at\": \"2021-06-10T12:29:09.000000Z\",\n                  \"updated_at\": \"2021-06-12T04:25:20.000000Z\",\n                   \"seller\" : {\n                     seller info....\n                   },\n                   \"customer\" : {\n                     customer info....\n                   },\n                   \"giftCard\" : {\n                     giftCard info....\n                   },\n                  \"product\": {\n                      \"id\": 7,\n                      \"user_id\": 4,\n                      \"product_id\": 3,\n                      \"product_sku_id\": \"4\",\n                      \"product_stock\": 0,\n                      \"purchase_price\": 0,\n                      \"selling_price\": 6600,\n                      \"status\": 1,\n                      \"created_at\": \"2021-05-29T10:28:14.000000Z\",\n                      \"updated_at\": \"2021-05-30T04:32:25.000000Z\",\n                      \"product\": {\n                          \"id\": 3,\n                          \"user_id\": 4,\n                          \"product_id\": 3,\n                          \"tax\": 15,\n                          \"tax_type\": \"0\",\n                          \"discount\": 50,\n                          \"discount_type\": \"1\",\n                          \"discount_start_date\": \"05/01/2021\",\n                          \"discount_end_date\": \"06/30/2021\",\n                          \"product_name\": \"KTM RC 390\",\n                          \"slug\": \"ktm-rc-390-4\",\n                          \"thum_img\": null,\n                          \"status\": 1,\n                          \"stock_manage\": 0,\n                          \"is_approved\": 0,\n                          \"min_sell_price\": 6500,\n                          \"max_sell_price\": 6500,\n                          \"total_sale\": 1,\n                          \"avg_rating\": 0,\n                          \"recent_view\": \"2021-05-29 16:28:14\",\n                          \"created_at\": \"2021-05-29T10:28:14.000000Z\",\n                          \"updated_at\": \"2021-05-30T04:29:14.000000Z\",\n                          \"variantDetails\": [],\n                          \"MaxSellingPrice\": 6600,\n                          \"hasDeal\": {\n                              \"id\": 2,\n                              \"flash_deal_id\": 1,\n                              \"seller_product_id\": 3,\n                              \"discount\": 50,\n                              \"discount_type\": 1,\n                              \"status\": 1,\n                              \"created_at\": \"2021-06-01T12:56:18.000000Z\",\n                              \"updated_at\": \"2021-06-01T13:08:58.000000Z\"\n                          },\n                          \"rating\": 0,\n                          \"product\": {\n                              \"id\": 3,\n                              \"product_name\": \"KTM RC 390\",\n                              \"product_type\": 1,\n                              \"unit_type_id\": 1,\n                              \"brand_id\": 2,\n                              \"category_id\": 5,\n                              \"thumbnail_image_source\": \"uploads/images/29-05-2021/60b1e99781fbb.png\",\n                              \"barcode_type\": \"C39\",\n                              \"model_number\": \"ktm-rc-390\",\n                              \"shipping_type\": 0,\n                              \"shipping_cost\": 0,\n                              \"discount_type\": \"1\",\n                              \"discount\": 0,\n                              \"tax_type\": \"0\",\n                              \"tax\": 15,\n                              \"pdf\": null,\n                              \"video_provider\": \"youtube\",\n                              \"video_link\": null,\n                              \"description\": \"<p>test product</p>\",\n                              \"specification\": \"<p>test product</p>\",\n                              \"minimum_order_qty\": 1,\n                              \"max_order_qty\": 5,\n                              \"meta_title\": null,\n                              \"meta_description\": null,\n                              \"meta_image\": null,\n                              \"is_physical\": 1,\n                              \"is_approved\": 1,\n                              \"display_in_details\": 1,\n                              \"requested_by\": 1,\n                              \"created_by\": 1,\n                              \"slug\": \"ktm-rc-390\",\n                              \"updated_by\": null,\n                              \"created_at\": \"2021-05-29T07:13:28.000000Z\",\n                              \"updated_at\": \"2021-05-29T07:13:28.000000Z\"\n                          },\n                          \"skus\": [\n                              {\n                                  \"id\": 7,\n                                  \"user_id\": 4,\n                                  \"product_id\": 3,\n                                  \"product_sku_id\": \"4\",\n                                  \"product_stock\": 0,\n                                  \"purchase_price\": 0,\n                                  \"selling_price\": 6600,\n                                  \"status\": 1,\n                                  \"created_at\": \"2021-05-29T10:28:14.000000Z\",\n                                  \"updated_at\": \"2021-05-30T04:32:25.000000Z\",\n                                  \"product_variations\": []\n                              }\n                          ],\n                          \"reviews\": []\n                      }\n                  },\n                  \"shipping_method\": {\n                      \"id\": 2,\n                      \"method_name\": \"Flat\",\n                      \"logo\": null,\n                      \"phone\": null,\n                      \"shipment_time\": \"0-3 days\",\n                      \"cost\": 0,\n                      \"is_active\": 1,\n                      \"created_at\": null,\n                      \"updated_at\": null\n                  }\n              }\n          ]\n      }\n  },\n \"same_state_gst_list\": [\n     same state gst info....\n ],\n \"differant_state_gst_list\": [\n     differant state gst info....\n ],\n\n \"flat_gst\": {\n     flat gst info...\n },\n\n \"is_gst_enable\": 0,\n \"is_gst_module_enable\": 1,\n\n  \"message\": \"success\"\n}"
      tags:
        - Checkout
      security: []
  /api/checkout/check-price-update:
    post:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses: {  }
      tags:
        - Checkout
      security: []
  /api/checkout/coupon-apply:
    post:
      summary: 'Checkout coupon apply'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  coupon:
                    id: 2
                    title: 'coupon on product'
                    coupon_code: '356966565645656'
                    coupon_type: 1
                    start_date: '2021-06-06'
                    end_date: '2021-07-31'
                    discount: 20
                    discount_type: 1
                    minimum_shopping: null
                    maximum_discount: null
                    created_by: 1
                    updated_by: null
                    is_expire: 0
                    is_multiple_buy: 1
                    created_at: '2021-06-07T10:54:27.000000Z'
                    updated_at: '2021-06-07T10:54:27.000000Z'
                  message: success
                properties:
                  coupon:
                    type: object
                    example:
                      id: 2
                      title: 'coupon on product'
                      coupon_code: '356966565645656'
                      coupon_type: 1
                      start_date: '2021-06-06'
                      end_date: '2021-07-31'
                      discount: 20
                      discount_type: 1
                      minimum_shopping: null
                      maximum_discount: null
                      created_by: 1
                      updated_by: null
                      is_expire: 0
                      is_multiple_buy: 1
                      created_at: '2021-06-07T10:54:27.000000Z'
                      updated_at: '2021-06-07T10:54:27.000000Z'
                  message:
                    type: string
                    example: success
      tags:
        - Checkout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                coupon_code:
                  type: string
                  description: 'Code from coupon'
                  example: autem
                shopping_amount:
                  type: number
                  description: 'Amount of shopping'
                  example: 7984207.3749936
              required:
                - coupon_code
                - shopping_amount
      security: []
  /api/coupon:
    get:
      summary: 'Customer Coupon list'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  coupons:
                    -
                      id: 1
                      customer_id: 5
                      coupon_id: 2
                      created_at: '2021-06-12T04:41:38.000000Z'
                      updated_at: '2021-06-12T04:41:38.000000Z'
                      coupon:
                        id: 2
                        title: 'coupon on product'
                        coupon_code: '356966565645656'
                        coupon_type: 1
                        start_date: '2021-06-06'
                        end_date: '2021-07-31'
                        discount: 20
                        discount_type: 1
                        minimum_shopping: null
                        maximum_discount: null
                        created_by: 1
                        updated_by: null
                        is_expire: 0
                        is_multiple_buy: 1
                        created_at: '2021-06-07T10:54:27.000000Z'
                        updated_at: '2021-06-07T10:54:27.000000Z'
                  message: success
                properties:
                  coupons:
                    type: array
                    example:
                      -
                        id: 1
                        customer_id: 5
                        coupon_id: 2
                        created_at: '2021-06-12T04:41:38.000000Z'
                        updated_at: '2021-06-12T04:41:38.000000Z'
                        coupon:
                          id: 2
                          title: 'coupon on product'
                          coupon_code: '356966565645656'
                          coupon_type: 1
                          start_date: '2021-06-06'
                          end_date: '2021-07-31'
                          discount: 20
                          discount_type: 1
                          minimum_shopping: null
                          maximum_discount: null
                          created_by: 1
                          updated_by: null
                          is_expire: 0
                          is_multiple_buy: 1
                          created_at: '2021-06-07T10:54:27.000000Z'
                          updated_at: '2021-06-07T10:54:27.000000Z'
                    items:
                      type: object
                  message:
                    type: string
                    example: success
      tags:
        - Coupon
      security: []
    post:
      summary: 'Customer coupon store'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'coupon Stored Successfully'
                properties:
                  message:
                    type: string
                    example: 'coupon Stored Successfully'
      tags:
        - Coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: 'Code from coupon'
                  example: qui
              required:
                - code
      security: []
  /api/coupon/delete:
    post:
      summary: 'Customer coupon delete'
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'coupon deleted successfully'
                properties:
                  message:
                    type: string
                    example: 'coupon deleted successfully'
      tags:
        - Coupon
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: number
                  description: 'id from coupon list'
                  example: 4.8407
              required:
                - id
      security: []
  /api/service/check:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: boolean
                example: true
      tags:
        - Endpoints
      security: []
  /api/homepage-data:
    get:
      summary: ''
      description: ''
      parameters:
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer {token}'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  top_categories:
                    -
                      id: 7
                      name: 'Men Shoes'
                      slug: men-shoes
                      icon: null
                      image: uploads/images/04-10-2021/615a880e2ccbe.jpeg
                    -
                      id: 10
                      name: Sofa
                      slug: sofa
                      icon: 'fas fa-couch'
                      image: uploads/images/04-10-2021/615a8835846c5.png
                    -
                      id: 4
                      name: Watch
                      slug: watch
                      icon: 'far fa-clock'
                      image: uploads/images/04-10-2021/615a87b570846.jpeg
                    -
                      id: 14
                      name: Helmet
                      slug: helmet
                      icon: null
                      image: uploads/images/04-10-2021/615a887f8c6e2.png
                    -
                      id: 1
                      name: 'Women Fashion'
                      slug: women-fashion
                      icon: 'fas fa-female'
                      image: null
                    -
                      id: 2
                      name: 'Men Fashion'
                      slug: men-fashion
                      icon: 'fas fa-male'
                      image: null
                    -
                      id: 3
                      name: Bags
                      slug: bags
                      icon: 'fas fa-shopping-bag'
                      image: null
                    -
                      id: 5
                      name: Bikes
                      slug: bikes
                      icon: 'fas fa-motorcycle'
                      image: null
                  featured_brands:
                    -
                      id: 22
                      name: Sony
                      logo: uploads/images/24-11-2021/619e2616e7806.png
                    -
                      id: 21
                      name: Samsung
                      logo: uploads/images/16-05-2022/6281f1882df21.png
                    -
                      id: 20
                      name: Bajaj
                      logo: uploads/images/16-05-2022/6281f1a444276.png
                    -
                      id: 19
                      name: TVS
                      logo: uploads/images/16-05-2022/6281f1ef02aa1.png
                    -
                      id: 18
                      name: Adata
                      logo: uploads/images/24-11-2021/619e253cda58a.png
                    -
                      id: 17
                      name: Transcend
                      logo: uploads/images/24-11-2021/619e26272609d.png
                    -
                      id: 16
                      name: Addlink
                      logo: uploads/images/24-11-2021/619e249de529f.png
                    -
                      id: 15
                      name: Lenovo
                      logo: uploads/images/24-11-2021/619e2519292d6.png
                    -
                      id: 14
                      name: LG
                      logo: uploads/images/24-11-2021/619e252a74dda.png
                    -
                      id: 13
                      name: 'Intel PC'
                      logo: uploads/images/24-11-2021/619e2481dab97.png
                    -
                      id: 12
                      name: 'RYZEN PC'
                      logo: uploads/images/24-11-2021/619e246e358a7.png
                    -
                      id: 11
                      name: MT
                      logo: uploads/images/24-11-2021/619e23fc70490.png
                    -
                      id: 10
                      name: 'Ray Ban'
                      logo: uploads/images/24-11-2021/619e245b36154.png
                    -
                      id: 9
                      name: Ferrari
                      logo: uploads/images/24-11-2021/619e244e75450.png
                    -
                      id: 8
                      name: Toyota
                      logo: uploads/images/24-11-2021/619e243e2e482.png
                    -
                      id: 7
                      name: Otobi
                      logo: uploads/images/04-10-2021/615a8b3da6843.png
                    -
                      id: 6
                      name: Adidas
                      logo: uploads/images/24-11-2021/619e242eb71ad.png
                    -
                      id: 5
                      name: Nike
                      logo: uploads/images/24-11-2021/619e241cd7e88.png
                    -
                      id: 4
                      name: Aven
                      logo: uploads/images/24-11-2021/619e23d2b0a5c.png
                    -
                      id: 2
                      name: Casio
                      logo: uploads/images/16-05-2022/6281f11ed9f27.png
                  sliders:
                    -
                      id: 4
                      name: 'Exclusive Shoes'
                      data_type: category
                      data_id: 6
                      slider_image: uploads/images/25-07-2022/62de9ce2adbfc.png
                      position: 598776
                      category:
                        id: 6
                        name: Shoes
                        slug: shoes
                        icon: 'fas fa-shoe-prints'
                    -
                      id: 5
                      name: 'Exclusive Cameras'
                      data_type: category
                      data_id: 20
                      slider_image: uploads/images/25-07-2022/62de9cea5410b.png
                      position: 598776
                      category:
                        id: 20
                        name: Camera
                        slug: camera
                        icon: null
                  new_user_zone:
                    id: 1
                    title: 'New User Gifts – Choose one!'
                    background_color: white
                    slug: new-user-gifts-–-choose-one!-32jk0
                    banner_image: 'https://mkzone360.s3.amazonaws.com/images/62d7b819851ad.jpeg'
                    product_navigation_label: '$US 0.1'
                    category_navigation_label: 'Exclusive Price'
                    coupon_navigation_label: Coupon
                    product_slogan: 'Hot Picks For You'
                    category_slogan: 'More To Love'
                    coupon_slogan: 'Start shopping with your new coupon'
                    coupon:
                      id: 1
                      title: 'New User Zone coupons'
                      coupon_code: '7346875789567'
                      start_date: '2022-03-01'
                      end_date: '2022-06-30'
                      discount: 5
                      discount_type: 0
                      minimum_shopping: 20
                      maximum_discount: 2
                    AllProducts:
                      -
                        id: 22
                        new_user_zone_id: 1
                        seller_product_id: 76
                        status: 1
                        created_at: '2021-11-25T18:03:15.000000Z'
                        updated_at: '2021-11-25T18:03:15.000000Z'
                        product:
                          id: 76
                          user_id: 1
                          product_id: 80
                          tax: 2
                          tax_type: '0'
                          discount: 5
                          discount_type: '0'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: beautiful-single-size-sofa-0099
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 1
                          min_sell_price: 80
                          max_sell_price: 80
                          total_sale: 1
                          avg_rating: 0
                          recent_view: '2022-09-02 15:42:23'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-11-24T16:29:41.000000Z'
                          updated_at: '2022-09-02T09:42:23.000000Z'
                          variantDetails:
                            -
                              value:
                                - Gray
                                - Blue
                                - Purple
                              code:
                                - '#999999'
                                - '#258cd9'
                                - '#6728a3'
                              attr_val_id:
                                - 6
                                - 7
                                - 33
                              name: Color
                              attr_id: 1
                          MaxSellingPrice: 80
                          hasDeal: 0
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal: null
                          product:
                            id: 80
                            product_name: null
                            product_type: 2
                            unit_type_id: 1
                            brand_id: 7
                            thumbnail_image_source: uploads/images/24-11-2021/619e14155cb74.png
                            media_ids: '77,78,79'
                            barcode_type: C39
                            mpn: null
                            gtin: null
                            condition: null
                            model_number: sofa-0099
                            shipping_type: 0
                            shipping_cost: 0
                            discount_type: '0'
                            discount: 5
                            tax_type: '0'
                            gst_group_id: null
                            tax: 2
                            pdf: null
                            video_provider: youtube
                            video_link: null
                            description: null
                            specification: null
                            minimum_order_qty: 1
                            max_order_qty: 10
                            meta_title: null
                            meta_description: null
                            meta_image: null
                            is_physical: 1
                            is_approved: 1
                            status: 1
                            display_in_details: 2
                            requested_by: 1
                            created_by: 1
                            slug: beautiful-single-size-sofa--0099
                            stock_manage: 0
                            subtitle_1: null
                            subtitle_2: null
                            auto_update: 0
                            gold_price_id: null
                            making_charge: 0
                            updated_by: 1
                            created_at: '2021-11-24T16:29:41.000000Z'
                            updated_at: '2022-04-07T15:37:07.000000Z'
                            translateProductName: 'Beautiful single size sofa -0099'
                            TranslateProductSubtitle1: null
                            TranslateProductSubtitle2: null
                          skus:
                            -
                              id: 186
                              user_id: 1
                              product_id: 76
                              product_sku_id: '161'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 80
                              status: 1
                              created_at: '2021-11-24T16:29:41.000000Z'
                              updated_at: '2021-11-24T16:29:41.000000Z'
                              product_variations:
                                -
                                  id: 146
                                  product_id: 80
                                  product_sku_id: 161
                                  attribute_id: 1
                                  attribute_value_id: 6
                                  created_by: null
                                  updated_by: null
                                  created_at: '2021-11-24T16:29:41.000000Z'
                                  updated_at: '2021-11-24T16:29:41.000000Z'
                                  attribute_value:
                                    id: 6
                                    value: '#999999'
                                    attribute_id: 1
                                    created_at: '2021-09-26T11:44:20.000000Z'
                                    updated_at: '2021-09-26T11:44:20.000000Z'
                                    color:
                                      id: 6
                                      attribute_value_id: 6
                                      name: Gray
                                      created_at: '2021-09-26T11:44:20.000000Z'
                                      updated_at: '2021-09-26T11:44:20.000000Z'
                                  attribute:
                                    id: 1
                                    name: null
                                    display_type: radio_button
                                    description: null
                                    status: 1
                                    created_by: null
                                    updated_by: 1
                                    created_at: '2018-11-05T02:12:26.000000Z'
                                    updated_at: '2022-06-15T04:57:42.000000Z'
                            -
                              id: 187
                              user_id: 1
                              product_id: 76
                              product_sku_id: '162'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 80
                              status: 1
                              created_at: '2021-11-24T16:29:41.000000Z'
                              updated_at: '2021-11-24T16:29:41.000000Z'
                              product_variations:
                                -
                                  id: 147
                                  product_id: 80
                                  product_sku_id: 162
                                  attribute_id: 1
                                  attribute_value_id: 7
                                  created_by: null
                                  updated_by: null
                                  created_at: '2021-11-24T16:29:41.000000Z'
                                  updated_at: '2021-11-24T16:29:41.000000Z'
                                  attribute:
                                    id: 1
                                    name: null
                                    display_type: radio_button
                                    description: null
                                    status: 1
                                    created_by: null
                                    updated_by: 1
                                    created_at: '2018-11-05T02:12:26.000000Z'
                                    updated_at: '2022-06-15T04:57:42.000000Z'
                                  attribute_value:
                                    id: 7
                                    value: '#258cd9'
                                    attribute_id: 1
                                    created_at: '2021-09-26T11:44:20.000000Z'
                                    updated_at: '2021-09-26T11:44:20.000000Z'
                                    color:
                                      id: 7
                                      attribute_value_id: 7
                                      name: Blue
                                      created_at: '2021-09-26T11:44:20.000000Z'
                                      updated_at: '2021-09-26T11:44:20.000000Z'
                            -
                              id: 188
                              user_id: 1
                              product_id: 76
                              product_sku_id: '163'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 80
                              status: 1
                              created_at: '2021-11-24T16:29:41.000000Z'
                              updated_at: '2021-11-24T16:29:41.000000Z'
                              product_variations:
                                -
                                  id: 148
                                  product_id: 80
                                  product_sku_id: 163
                                  attribute_id: 1
                                  attribute_value_id: 33
                                  created_by: null
                                  updated_by: null
                                  created_at: '2021-11-24T16:29:41.000000Z'
                                  updated_at: '2021-11-24T16:29:41.000000Z'
                                  attribute:
                                    id: 1
                                    name: null
                                    display_type: radio_button
                                    description: null
                                    status: 1
                                    created_by: null
                                    updated_by: 1
                                    created_at: '2018-11-05T02:12:26.000000Z'
                                    updated_at: '2022-06-15T04:57:42.000000Z'
                                  attribute_value:
                                    id: 33
                                    value: '#6728a3'
                                    attribute_id: 1
                                    created_at: '2021-09-28T10:09:06.000000Z'
                                    updated_at: '2021-09-28T10:09:06.000000Z'
                                    color:
                                      id: 10
                                      attribute_value_id: 33
                                      name: Purple
                                      created_at: '2021-09-28T10:09:06.000000Z'
                                      updated_at: '2021-09-28T10:09:06.000000Z'
                          reviews: []
                      -
                        id: 17
                        new_user_zone_id: 1
                        seller_product_id: 32
                        status: 1
                        created_at: '2021-11-25T18:03:15.000000Z'
                        updated_at: '2021-11-25T18:03:15.000000Z'
                        product:
                          id: 32
                          user_id: 1
                          product_id: 29
                          tax: 2
                          tax_type: '0'
                          discount: 4
                          discount_type: '0'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: new-pulsar-ns160-abs-motor-bike-007
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 0
                          min_sell_price: 2400
                          max_sell_price: 2400
                          total_sale: 0
                          avg_rating: 0
                          recent_view: '2021-12-12 17:01:14'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-09-29T13:11:34.000000Z'
                          updated_at: '2022-08-16T07:44:37.000000Z'
                          variantDetails: []
                          MaxSellingPrice: 2400
                          hasDeal: 0
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal: null
                          product:
                            id: 29
                            product_name: null
                            product_type: 1
                            unit_type_id: 1
                            brand_id: 20
                            thumbnail_image_source: uploads/images/25-11-2021/619f858355193.png
                            media_ids: '94'
                            barcode_type: C39
                            mpn: null
                            gtin: null
                            condition: null
                            model_number: n3878498
                            shipping_type: 0
                            shipping_cost: 0
                            discount_type: '0'
                            discount: 4
                            tax_type: '0'
                            gst_group_id: null
                            tax: 2
                            pdf: null
                            video_provider: youtube
                            video_link: null
                            description: null
                            specification: null
                            minimum_order_qty: 1
                            max_order_qty: 10
                            meta_title: null
                            meta_description: null
                            meta_image: null
                            is_physical: 1
                            is_approved: 1
                            status: 1
                            display_in_details: 1
                            requested_by: 1
                            created_by: 1
                            slug: bajaj-pulsar-ns160-(car)-abs-motor-bike
                            stock_manage: 0
                            subtitle_1: null
                            subtitle_2: null
                            auto_update: 0
                            gold_price_id: null
                            making_charge: 0
                            updated_by: 1
                            created_at: '2021-09-29T12:34:04.000000Z'
                            updated_at: '2022-04-07T15:37:08.000000Z'
                            translateProductName: 'new Pulsar NS160 ABS Motor Bike -007'
                            TranslateProductSubtitle1: null
                            TranslateProductSubtitle2: null
                          skus:
                            -
                              id: 128
                              user_id: 1
                              product_id: 32
                              product_sku_id: '97'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 2400
                              status: 1
                              created_at: '2021-09-29T13:11:34.000000Z'
                              updated_at: '2021-11-23T20:26:04.000000Z'
                              product_variations: []
                          reviews: []
                  flash_deal:
                    id: 1
                    title: 'Eid Flash Sale'
                    background_color: white
                    text_color: '#5b5b5b'
                    start_date: '2022-09-01'
                    end_date: '2023-04-30'
                    slug: eid-flash-sale-xiaiq
                    banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                    is_featured: 1
                    AllProducts:
                      -
                        id: 23
                        flash_deal_id: 1
                        seller_product_id: 82
                        discount: 10
                        discount_type: 0
                        status: 1
                        created_at: '2021-11-25T17:59:13.000000Z'
                        updated_at: '2021-11-25T17:59:13.000000Z'
                        product:
                          id: 82
                          user_id: 1
                          product_id: 40
                          tax: 2
                          tax_type: '1'
                          discount: 3
                          discount_type: '1'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: sun-glass-for-girls
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 0
                          min_sell_price: 44
                          max_sell_price: 44
                          total_sale: 27
                          avg_rating: 0
                          recent_view: '2022-10-27 15:32:18'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-11-25T09:26:15.000000Z'
                          updated_at: '2022-10-27T11:47:09.000000Z'
                          variantDetails: []
                          MaxSellingPrice: 44
                          hasDeal:
                            id: 23
                            flash_deal_id: 1
                            seller_product_id: 82
                            discount: 10
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal:
                            id: 23
                            flash_deal_id: 1
                            seller_product_id: 82
                            discount: 10
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          product:
                            id: 40
                            product_name: null
                            product_type: 1
                            unit_type_id: 2
                            brand_id: 10
                            thumbnail_image_source: uploads/images/04-10-2021/615a6e3194487.jpeg
                            media_ids: '30'
                            barcode_type: C39
                            mpn: null
                            gtin: null
                            condition: null
                            model_number: null
                            shipping_type: 0
                            shipping_cost: 0
                            discount_type: '1'
                            discount: 3
                            tax_type: '1'
                            gst_group_id: null
                            tax: 2
                            pdf: null
                            video_provider: youtube
                            video_link: null
                            description: null
                            specification: null
                            minimum_order_qty: 3
                            max_order_qty: 29
                            meta_title: null
                            meta_description: null
                            meta_image: null
                            is_physical: 1
                            is_approved: 1
                            status: 1
                            display_in_details: 1
                            requested_by: 1
                            created_by: 1
                            slug: sun-glass-for-girls
                            stock_manage: 0
                            subtitle_1: null
                            subtitle_2: null
                            auto_update: 0
                            gold_price_id: null
                            making_charge: 0
                            updated_by: 1
                            created_at: '2021-09-29T15:24:52.000000Z'
                            updated_at: '2022-04-07T15:37:05.000000Z'
                            translateProductName: 'Sun glass for girls'
                            TranslateProductSubtitle1: null
                            TranslateProductSubtitle2: null
                          skus:
                            -
                              id: 200
                              user_id: 1
                              product_id: 82
                              product_sku_id: '108'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 44
                              status: 1
                              created_at: '2021-11-25T09:29:39.000000Z'
                              updated_at: '2021-11-25T09:29:39.000000Z'
                              product_variations: []
                          reviews: []
                      -
                        id: 24
                        flash_deal_id: 1
                        seller_product_id: 38
                        discount: 9
                        discount_type: 0
                        status: 1
                        created_at: '2021-11-25T17:59:13.000000Z'
                        updated_at: '2021-11-25T17:59:13.000000Z'
                        product:
                          id: 38
                          user_id: 1
                          product_id: 24
                          tax: 1
                          tax_type: '0'
                          discount: 3
                          discount_type: '0'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: addlink-s20-120gb-2-5-sata-iii-6gb-s-3d-nand-ssd
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 0
                          min_sell_price: 120
                          max_sell_price: 120
                          total_sale: 0
                          avg_rating: 0
                          recent_view: '2021-12-12 17:40:00'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-09-29T13:21:39.000000Z'
                          updated_at: '2022-08-16T07:44:37.000000Z'
                          variantDetails: []
                          MaxSellingPrice: 120
                          hasDeal:
                            id: 24
                            flash_deal_id: 1
                            seller_product_id: 38
                            discount: 9
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal:
                            id: 24
                            flash_deal_id: 1
                            seller_product_id: 38
                            discount: 9
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          product:
                            id: 24
                            product_name: null
                            product_type: 1
                            unit_type_id: 1
                            brand_id: 16
                            thumbnail_image_source: uploads/images/25-11-2021/619f91508163b.png
                            media_ids: '113'
                            barcode_type: C39
                            mpn: null
                            gtin: null
                            condition: null
                            model_number: S20
                            shipping_type: 0
                            shipping_cost: 0
                            discount_type: '0'
                            discount: 3
                            tax_type: '0'
                            gst_group_id: null
                            tax: 1
                            pdf: null
                            video_provider: youtube
                            video_link: null
                            description: null
                            specification: null
                            minimum_order_qty: 1
                            max_order_qty: 15
                            meta_title: null
                            meta_description: null
                            meta_image: null
                            is_physical: 1
                            is_approved: 1
                            status: 1
                            display_in_details: 1
                            requested_by: 1
                            created_by: 1
                            slug: 'addlink-s20-120gb-2.5"-sata-iii-6gb/s-3d-nand-ssd'
                            stock_manage: 0
                            subtitle_1: null
                            subtitle_2: null
                            auto_update: 0
                            gold_price_id: null
                            making_charge: 0
                            updated_by: 1
                            created_at: '2021-09-29T11:33:41.000000Z'
                            updated_at: '2022-04-07T15:37:09.000000Z'
                            translateProductName: 'Addlink S20 120GB 2.5" SATA III 6Gb/s 3D Nand SSD'
                            TranslateProductSubtitle1: null
                            TranslateProductSubtitle2: null
                          skus:
                            -
                              id: 134
                              user_id: 1
                              product_id: 38
                              product_sku_id: '92'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 120
                              status: 1
                              created_at: '2021-09-29T13:21:39.000000Z'
                              updated_at: '2021-09-29T13:21:39.000000Z'
                              product_variations: []
                          reviews: []
                      -
                        id: 22
                        flash_deal_id: 1
                        seller_product_id: 81
                        discount: 8
                        discount_type: 0
                        status: 1
                        created_at: '2021-11-25T17:59:13.000000Z'
                        updated_at: '2021-11-25T17:59:13.000000Z'
                        product:
                          id: 81
                          user_id: 1
                          product_id: 58
                          tax: 3
                          tax_type: '1'
                          discount: 5
                          discount_type: '0'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: laptop-computer
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 0
                          min_sell_price: 2440
                          max_sell_price: 2440
                          total_sale: 1
                          avg_rating: 0
                          recent_view: '2022-06-27 11:49:28'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-11-25T08:07:37.000000Z'
                          updated_at: '2022-08-16T07:44:38.000000Z'
                          variantDetails: []
                          MaxSellingPrice: 2440
                          hasDeal:
                            id: 22
                            flash_deal_id: 1
                            seller_product_id: 81
                            discount: 8
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal:
                            id: 22
                            flash_deal_id: 1
                            seller_product_id: 81
                            discount: 8
                            discount_type: 0
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          product:
                            id: 58
                            product_name: null
                            product_type: 1
                            unit_type_id: 1
                            brand_id: null
                            thumbnail_image_source: uploads/images/25-11-2021/619f4590344f2.png
                            media_ids: '86'
                            barcode_type: C39
                            mpn: null
                            gtin: null
                            condition: null
                            model_number: '535353'
                            shipping_type: 0
                            shipping_cost: 0
                            discount_type: '0'
                            discount: 5
                            tax_type: '1'
                            gst_group_id: null
                            tax: 3
                            pdf: /uploads/product/61618b0ca3ca44174558.jpg
                            video_provider: youtube
                            video_link: null
                            description: null
                            specification: null
                            minimum_order_qty: 1
                            max_order_qty: 5
                            meta_title: null
                            meta_description: null
                            meta_image: null
                            is_physical: 1
                            is_approved: 1
                            status: 1
                            display_in_details: 1
                            requested_by: 1
                            created_by: 1
                            slug: laptop-computer
                            stock_manage: 0
                            subtitle_1: null
                            subtitle_2: null
                            auto_update: 0
                            gold_price_id: null
                            making_charge: 0
                            updated_by: 1
                            created_at: '2021-10-09T18:29:00.000000Z'
                            updated_at: '2022-04-07T15:37:08.000000Z'
                            translateProductName: 'Laptop Computer'
                            TranslateProductSubtitle1: null
                            TranslateProductSubtitle2: null
                          skus:
                            -
                              id: 195
                              user_id: 1
                              product_id: 81
                              product_sku_id: '126'
                              product_stock: 0
                              purchase_price: 0
                              selling_price: 2440
                              status: 1
                              created_at: '2021-11-25T08:10:29.000000Z'
                              updated_at: '2021-11-25T14:11:15.000000Z'
                              product_variations: []
                          reviews: []
                      -
                        id: 21
                        flash_deal_id: 1
                        seller_product_id: 29
                        discount: 50
                        discount_type: 1
                        status: 1
                        created_at: '2021-11-25T17:59:13.000000Z'
                        updated_at: '2021-11-25T17:59:13.000000Z'
                        product:
                          id: 29
                          user_id: 1
                          product_id: 22
                          tax: 3
                          tax_type: '0'
                          discount: 3.5
                          discount_type: '1'
                          discount_start_date: null
                          discount_end_date: null
                          product_name: null
                          slug: hp-15s-gr515au-amd-athlon-3050u-15-6-hd-laptop
                          thum_img: null
                          status: 1
                          stock_manage: 0
                          is_approved: 0
                          min_sell_price: 450
                          max_sell_price: 450
                          total_sale: 0
                          avg_rating: 0
                          recent_view: '2022-06-20 19:20:34'
                          subtitle_1: null
                          subtitle_2: null
                          created_at: '2021-09-28T19:02:18.000000Z'
                          updated_at: '2022-06-20T13:20:34.000000Z'
                          variantDetails: []
                          MaxSellingPrice: 450
                          hasDeal:
                            id: 21
                            flash_deal_id: 1
                            seller_product_id: 29
                            discount: 50
                            discount_type: 1
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
                              id: 1
                              title: 'Eid Flash Sale'
                              background_color: white
                              text_color: '#5b5b5b'
                              start_date: '2022-09-01'
                              end_date: '2023-04-30'
                              slug: eid-flash-sale-xiaiq
                              banner_image: uploads/images/26-07-2022/62dffcaad06ae.jpeg
                              status: 1
                              is_featured: 1
                              created_by: 1
                              updated_by: 1
                              created_at: '2021-09-28T14:05:36.000000Z'
                              updated_at: '2022-09-13T09:32:47.000000Z'
                          rating: 0
                          hasDiscount: 'yes'
                          ProductType: product
                          flash_deal:
                            id: 21
                            flash_deal_id: 1
                            seller_product_id: 29
                            discount: 50
                            discount_type: 1
                            status: 1
                            created_at: '2021-11-25T17:59:13.000000Z'
                            updated_at: '2021-11-25T17:59:13.000000Z'
                            flash_deal:
[...]
